.atelier{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.atelier1{
    width: 800px;
    height: 700px;
    background: linear-gradient(to right bottom, #000001, #1c0a35,rgb(69, 0, 72));
    border-radius: 15px;
    padding: 50px 15px 30px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.atelier1 h1{
    color: whitesmoke;
    text-align: start;
    font-size: 15pt;
    font-weight: 500;
}

.atelier1 h2{
    color: rgb(196, 217, 222);
    text-align:end;
    font-size: 38pt;
    padding-right: 40px;
    font-weight: 500;
}
.atelierimg{
   
    width: 500px;
    height: 750px;
  border-radius: 5px;
  
}
h4{
    text-align: center;
    font-size: 24pt;
    background: linear-gradient(90deg, #ff7dde, #44065a, #0805b0);
  -webkit-background-clip: text;
  color: transparent;
    font-weight: 500;
    margin-top: -10px;
}
.ateliercontenu{
margin-top: -30px;
    overflow-y: scroll;
    height: 68%;
    padding: 15px;
}
.scroll-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .scroll-container::-webkit-scrollbar-track {
    border-radius: 15px;
    background: lightgray; /* Background of the scrollbar track */

}
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: rgb(88, 87, 84); /* Scrollbar color */
    border-radius: 30px; /* Rounds the scrollbar edges */
    border: 2px solid lightgray; /* Adds padding around the scrollbar */
  }
.ateliercontenu h3{
    font-size: 14pt;
    font-weight: 600;
    color: #8ae1f7;
}
.ateliercontenu p{
    padding: 10px;
   font-size: 13pt;
    font-weight: 400;
    color: rgb(238, 238, 238);
}



@media (max-width: 1480px) {


.atelier1{
    width: 600px;
    height: 550px;
    padding: 25px;
}
.atelierimg{
    width: 400px;
    height: 600px;
}
.atelier1 h1{
    font-size: 12pt;
}
.atelier1 h2{
    font-size: 20pt;
}
.ateliercontenu{
    margin-top: 15px;
}
.ateliercontenu p{
    font-size: 11pt;
    line-height: 25px;
}
}






















        @media (max-width: 1200px) {

           
            .atelier1{
                width: 500px;
              
                padding: 50px 15px 30px 40px;
            }
            .atelierimg{
               
                width: 350px;
               
              
              border-radius: 5px;
              
            }
            .ateliercontenu{
        
                overflow-y: scroll;
                height: 73%;
                padding: 10px;
            }
            .atelier1 h2{
                color: rgb(10, 126, 158);
                text-align:end;
                font-size: 25pt;
                font-weight: 500;
            }
            }
        


















            @media (max-width: 1050px) {
   
               
                .atelier1{
                    width: 90%;
                    height: 500px;
                margin-top: 45px;
                   
                    padding: 10px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                }
                .atelierimg{
                    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
                    width: 90%;
                    margin-top: 15px;
                    height: 400px;
                   object-fit: contain;
                
                  
                }
                .ateliercontenu{
            
                    overflow-y: scroll;
                    height: 65%;
                    padding: 10px;
                }
                .atelier1 h2{
                    color: rgb(10, 126, 158);
                    text-align:end;
                    font-size: 25pt;
                    font-weight: 500;
                }
                }
            





                
            @media (max-width: 650px) {

               h4{
                margin-top: -100px;
               }
   .atelier{
    padding: 0px;
   }
                .atelier1{
                    width: 93%;
                    height: 500px;
                margin-top: 5px;
                   
                    padding: 10px;
                   
                }
                .atelierimg{
                  
                    width: 90%;
                    margin-top: 15px;
                    height: 250px;
                   object-fit: contain;
                
                  
                }
                .ateliercontenu{
            
                    overflow-y: scroll;
                    height: 65%;
                    padding: 10px;
                }
                .atelier1 h1{
                    font-size: 11pt;
                    margin-top: 30px;
                }
                .atelier1 h2{
                    font-size: 20pt;
                }
                .ateliercontenu{
                    margin-top: 15px;
                }
                .ateliercontenu p{
                    font-size: 10pt;
                    line-height: 25px;
                }
                }
            


                @media (max-width: 500px) {

                    h4{
                     margin-top: -100px;
                    }
        .atelier{
         padding: 0px;
        }
                     .atelier1{
                         width: 93%;
                         height: 400px;
                     margin-top: 5px;
                        
                         padding: 10px;
                         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                     }
                     .atelierimg{
                        
                         width: 90%;
                         margin-top: 15px;
                         height: 300px;
                        object-fit: contain;
                     
                       
                     }
                     .ateliercontenu{
                 
                         overflow-y: scroll;
                         height: 60%;
                         padding: 10px;
                     }
                     .atelier1 h1{
                         font-size: 10pt;
                         margin-top: 30px;
                     }
                     .atelier1 h2{
                         font-size: 16pt;
                     }
                     .ateliercontenu{
                         margin-top: 15px;
                     }
                     .ateliercontenu p{
                         font-size: 8pt;
                         line-height: 22px;
                     }
                     }
                 