.bg{
    background-color: rgb(94, 94, 91);
}
.bts{
    padding: 60px;
}
.bts p{
color: white;
font-size: 24pt;
font-weight: 500;
width: 500px;

}
.bts{
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bts img{
    width: 300px;
    height: 500px;
    object-fit: contain;
}

.tbl{
    display: flex;
    justify-content: space-around;
   align-items: start;
    flex-wrap: wrap;
}
.tbl img{
    max-width: 400px;
   border: 2px solid black;
    margin-top: 35px;
}




@media (max-width: 880px) {

    .bts p{
        color: white;
        font-size: 18pt;
        font-weight: 500;
        width: 300px;
        
        }
        .tbl img{
            max-width: 300px;
           border: 2px solid black;
            margin-top: 35px;
        }


}




@media (max-width: 600px) {
    .bts{
        padding: 0px;
    }
    .bts img{
        width: 300px;
        height: 300px;
        object-fit: contain;
    }
    

    .bts p{
        color: white;
        font-size: 15pt;
        font-weight: 500;
        width: 250px;
        
        }
        .tbl img{
            max-width: 200px;
           border: 2px solid black;
            margin-top: 35px;
        }


}