
body{
  background-color: rgb(239, 242, 245);
}
.background-image {
  
 /* Full viewport height */
  color: #fff; /* White text color */
 


}
.all{
  background-image: url('../public/2.jpg'); /* Replace with your image URL */
  background-size: cover;
  position: relative;
  padding-bottom: 80px;

}

.overlayt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
background-color: #000000;
   
  opacity: 0.85; /* Black with 50% transparency */
  z-index: 1;
}

.contentt,.bt,header{
 
  position: relative;
  z-index: 6;
 

}



option img{
width: 50px;
height: 50px;
border-radius: 45px;

}
.arrow{
  background-color: rgb(255, 255, 255);
  position:absolute;
  z-index: 55;
  display: inline;
  width: 55px;
  height: 55px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  left: 48%;

  border:1px solid rgb(202, 200, 200);
}
.imgarrow{
  width: 14px;
}
.arrow button{
  width: 35px;
  height: 38px;
  font-size: 46px;
  font-weight: 900;
  cursor: pointer;
  background-color: white;
margin-top: 55px;
  border-radius: 100px;
  z-Index: 666;
  position: relative;
  border-color: rgb(227, 229, 232);
}

@media (max-width:580px) {
.arrow{
  left: 42%;
}
}