@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Quicksand:wght@300..700&display=swap');
body{
  background-color: rgb(239, 242, 245);
}
.background-image {
  
 /* Full viewport height */
  color: #fff; /* White text color */
 


}
.all{
  background-image: url('../public/2.jpg'); /* Replace with your image URL */
  background-size: cover;
  position: relative;
  padding-bottom: 30px;

}

.overlayt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
background-color: #000000;
   
  opacity: 0.9; /* Black with 50% transparency */
  z-index: 1;
}

.contentt,.bt,header{
 
  position: relative;
  z-index: 6;
 

}



option img{
width: 50px;
height: 50px;
border-radius: 45px;

}


